.App {
  display: flex;
  justify-content: center;
}
.chessboard{
  width: 800px;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}
.field{
  height: 100px;
  width: 100px;
  background-color: burlywood;
  border: 2px solid;
}
.king, .rook, .bishop, .knight, .pawn, .queen{
  height: 100px;
}
